{% if pages %}
    <div class="pagination pagination-centered">
        <ul>
            <li {% if not previous_url %}class="disabled"{% endif %}>
                <a href="{{previous_url|default:"#"}}">&laquo; Previous</a>
            </li>
                {% for group in pages %}
                    {% for page in group %}
                        <li {% if page.current %}class="active"{% endif %}>
                            <a href="{{page.url}}">{{page.number}}</a>
                        </li>
                    {% endfor %}
                    {% if not forloop.last %}
                        <li class="disabled">
                            <a href="" >...</a>
                        </li>
                    {% endif %}
                {% endfor %}
            <li {% if not next_url %}class="disabled"{% endif %}>
                <a href="{{next_url|default:"#"}}">Next &raquo;</a>
            </li>
        </ul>
    </div>
{% endif %}
